{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}


{% block body %}
<header>
    <div class="site-name">
    <h1>Mysite</h1>
    </div>
    <div class="log-butttons">
      {% if user.is_authenticated %}
        <div>
          <form method="post" action="{% url 'myauth:logout' %}">
          {% csrf_token %}
          <button class="orange_button" type="submit">Logout</button>
          </form>
        </div>
      {% else %}
        <div>
          <form method="post" action="{% url 'myauth:login' %}">
            {% csrf_token %}
            <button class="orange_button" type="submit">Login</button>
          </form>
        </div>
        <div>
          <form method="post" action="{% url 'myauth:register' %}">
            {% csrf_token %}
            <button class="orange_button" type="submit">Register</button>
          </form>
        </div>

      {% endif %}

    </div>
</header>
  {% block page %}
  <section>
    <h2>Main page</h2>
  </section>
  {% endblock %}
{% endblock %}
