{% extends 'myauth/main-page.html' %}

{% block title %}
  Update profile
{% endblock %}


{% block page %}
  <section class="page">
  <h1>Update profile</h1>
  {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p>Biography</p>
        <p>{{form.biography}}</p>
        <p>Agreement accepted: {{form.agreement_accepted}}</p>
        <button class="orange_button" type="submit">Update</button>
    </form>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}
