{% extends 'myauth/main-page.html' %}

{% block title %}
  About me
{% endblock %}

{% block page %}
  <section class="page">
  <h1>User info</h1>
  {% if user.is_authenticated %}
    <h2>Detail</h2>
    <p>
        {% if user.profile.avatar %}
        <img src="{{user.profile.avatar.url}}"
             alt="{{user.profile.avatar.name}}"
             width="200"
        >
        {% else %}
        No avatar
        {% endif %}
    </p>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.biography }}</p>
    <a href="{% url 'myauth:update-profile' %}">
        <button class="orange_button" type="button">Update</button>
    </a>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}
