{% extends 'shopapp/main-page.html' %}
{% load cache %}

{% block title %}
  {{owner.username}} orders
{% endblock %}

{% block page %}
<section>
  {% if object_list %}
  <h1>User {{owner.username}} completed the following orders:</h1>
    {% cache 30 user_orders owner.pk %}
    <div>
      {% for order in object_list %}
        <div>
          <p><a href="{% url 'shopapp:order_details' pk=order.pk %}"
          >Details #{{ order.pk }}</a></p>
          <p>Promocode: <code>{{ order.promocode }}</code></p>
          <p>Delivery address: {{ order.delivery_address }}</p>
          <div>
            Product in order:
            <ul>
              {% for product in order.products.all %}
                <li>{{ product.name }} for ${{ product.price }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
    {% endcache %}
  {% else %}
    <h3>The {{owner.username}} user has no orders yet</h3>
  {% endif %}
</section>
{% endblock %}