{% extends 'shopapp/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  {% if object_list %}
    <div>
    {% for product in object_list %}
      <div>
        <p><a href="{% url 'shopapp:product_details' pk=product.pk %}"
        >Name: {{ product.name }} ({{product.id}})</a></p>
        <p>Price: {{ product.price }}</p>
        <p>Discount: {% firstof product.discount 'no discount' %}</p>
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No products yet</h3>
  {% endif %}
{% endblock %}
